 <header>
<%= form_for [@employee, @pay_period] do |f| %>
    <div class="field">
   <h1><%= @employee.first_name %></h1>
 </div>
 <%= f.fields_for :work_days do |ff| %>
   <div class="field">
     <%= ff.label :over_time %>
     <%= ff.number_field :over_time, :step=> 0.1 %>
   </div> 
   <div class="field">
     <%= ff.label :day %>
     <%= ff.text_field :day %>
   </div>  
 <% end %>   
 <div class="form-actions">
   <%= f.button :submit %>
 </div>
<% end %>
    
</header>