<article id="employee">
  <header>
    <h1><%= @employee.first_name %></h1>
    <h2><%= mail_to(@employee.email) %></h2>
  </header>

<%= form_for(@work_hours) do |f| %>
  <%#= render "shared/errors", object: @employee 
pay_periods
  %>
  <fieldset>
    <ol>
      <li class="required">
        <%= f.label :duration, "Number of Hours" %>
        <%= f.text_field :duration, size: 40 %>
      </li>
      <li class="required">
        <%= f.label :type %>
        <%= f.text_field :type, size: 40 %>
      </li>
    </ol>
    <p>
      
        <%= f.submit "Update Hours" %>
      
    </p>
  </fieldset>
<% end %>
  
</article>