<article id="employee">
  <header>
    <h1>Timesheets for: <%= @employee.first_name %> 
    	<%= @employee.last_name %></h1>
  </header>

<div class="container">
<%= form_for @employee do |f| %>

  <div class="form-group">
    <%= f.hidden_field :asdsadas, value: '123123' %>
    <%= f.label "Select Pay Period" %>
    <%= f.select :pay_periods, options_for_select(generate_pay_periods(@employee)), class: 'form-control'%>
  </div>
  <div>
    <%= f.submit 'Edit/View Timesheet', class: 'btn btn-primary btn-sm' %>
  </div>   
<% end %>
</div>

<footer>
    
    <nav>
      
    </nav>
</footer>