<header id="page-header">
 <div id="masthead">
  
   <nav class="navbar navbar-default">
       <div class="navbar navbar-header">
   
   <% if current_employee %>
   <%= link_to current_employee.first_name, current_employee %> |
   <%= link_to "Account Settings", edit_employee_path(current_employee) %> |
   <%= link_to 'Sign Out', session_path, method: :delete, class: 'button' %>
   <% else %>
   <%= link_to 'Admin: Create Account', create_path, class: 'button' %>   <%= link_to 'Sign In', new_session_path, class: 'button' %>
   <% end %>
 </div>
  <%= image_tag("ideacrew.png", size: "150x45", class: "pull-right") %>  
   </nav>
 </div>